.col-centered, .tableauPlaceholder{
    float: none;
    margin: 0 auto;
}
.text-box{
    font-size: 14px;
}

i.fa {
    vertical-align: middle;
}

.left {
    position: fixed;
    bottom: 50px;
    left: 50px;
}

.right {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

a:hover {
    text-decoration: none;
}

.row{
    margin-bottom: 50px;
}